.footer {
  width: 1038px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ebecf2;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.footerText {
  width: 156.81px;
  height: 17px;
  display: flex;
}
.footerText span {
  font-family: Cairo;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #142452;
}
.footerIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 328.89px;
  height: 34px;
  border-radius: 8px;
  border: 1px solid white;
  gap: 5px;
}
.footerIcons span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32.32px;
  height: 34px;
  border: 1px solid #d8dae5;
  border-radius: 8px;
}
.footerIcons img {
  width: 17.11px;
  height: 18px;
}
.one {
  background-color: #2c4fa4;
  color: white;
}
